# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/

# Airflow files
airflow.db
airflow.cfg
webserver_config.py
unittests.cfg
*.json.generated

# Airflow logs
logs/
airflow.logs

# SQLite history
*.sqlite
*.sqlite3

# Jupyter / notebooks (if any)
.ipynb_checkpoints/

# OS/system files
.DS_Store
Thumbs.db

# VSCode (optional)
.vscode/
*/standalone*